.carouselVert {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  animation-name: scrollY;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scrollY {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
